version: '3.8'

services:
  card-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools

  card-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-service
    environment:
      NODE_ENV: development
      PORT: ${PORT}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE_AUTH: ${RABBITMQ_QUEUE_AUTH}
      RABBITMQ_QUEUE_VERIFICATION: ${RABBITMQ_QUEUE_VERIFICATION}
      RABBITMQ_QUEUE_HISTORY: ${RABBITMQ_QUEUE_HISTORY}
    command: npm run start:dev
    ports:
      - "3003:3003"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
    networks:
      - postgres-net
      - rabbitmq-net
      - nginx-gateway
    restart: unless-stopped

  card-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-worker
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    command: npm run start:worker
    volumes:
      - ./src:/app/src
    networks:
      - rabbitmq-net
      - postgres-net
    depends_on:
      - card-service
    restart: unless-stopped

networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  nginx-gateway:
    external: true
