version: '3.8'

services:
  card-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-migrate
    env_file:
      - .env
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools

  card-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-service
    env_file:
      - .env
    environment:
      NODE_ENV: development
    command: npm run start:dev
    ports:
      - "3003:3003"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ../../libs:/app/libs
      - ./tsconfig.json:/app/tsconfig.json
    networks:
      - postgres-net
      - rabbitmq-net
      - nginx-gateway
    restart: unless-stopped

  card-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: card-worker
    env_file:
      - .env
    environment:
      NODE_ENV: development
    command: npm run start:worker
    volumes:
      - ./src:/app/src
      - ./common:/app/common
      - ../../libs:/app/libs
      - ./tsconfig.json:/app/tsconfig.json
    networks:
      - rabbitmq-net
      - postgres-net
    depends_on:
      - card-service
    restart: unless-stopped

networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  nginx-gateway:
    external: true
