version: '3.8'

services:
  auth-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: auth-migrate
    env_file:
      - .env
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: auth-service
    env_file:
      - .env
    environment:
      NODE_ENV: development
    command: npm run start:dev
    ports:
      - "3000:3000"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ../../libs:/app/libs
      - ./tsconfig.json:/app/tsconfig.json
    networks:
      - postgres-net
      - rabbitmq-net
      - redis-net
      - nginx-gateway
    restart: unless-stopped
  auth-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: auth-worker
    env_file:
      - .env
    environment:
      NODE_ENV: development
    command: npm run start:worker
    volumes:
      - ./src:/app/src
      - ./common:/app/common
      - ../../libs:/app/libs
      - ./tsconfig.json:/app/tsconfig.json
    networks:
      - rabbitmq-net
      - postgres-net
      - redis-net
    depends_on:
      - auth-service
    restart: unless-stopped
      
networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  redis-net:
    external: true
  nginx-gateway:
    external: true

