version: '3.8'

services:
  user-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: user-migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools

  user-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: user-service
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE_AUTH: ${RABBITMQ_QUEUE_AUTH}
      RABBITMQ_QUEUE_HISTORY: ${RABBITMQ_QUEUE_HISTORY}
      PORT: ${PORT}
    command: npm run start:dev
    ports:
      - "3001:3001"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
    networks:
      - postgres-net
      - rabbitmq-net
      - nginx-gateway
    restart: unless-stopped

  user-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: user-worker
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    command: npm run start:worker
    volumes:
      - ./src:/app/src
      - ./common:/app/common
    networks:
      - rabbitmq-net
      - postgres-net
    depends_on:
      - user-service
    restart: unless-stopped

networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  nginx-gateway:
    external: true
