version: '3.8'

services:
  history-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: history-migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools

  history-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: history-service
    environment:
      NODE_ENV: development
      PORT: ${PORT}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE_AUTH: ${RABBITMQ_QUEUE_AUTH}
      RABBITMQ_QUEUE_VERIFICATION: ${RABBITMQ_QUEUE_VERIFICATION}
    command: npm run start:dev
    ports:
      - "3005:3005"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
    networks:
      - postgres-net
      - rabbitmq-net
      - nginx-gateway
    restart: unless-stopped

  history-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: history-worker
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    command: npm run start:worker
    volumes:
      - ./src:/app/src
      - ./common:/app/common
    networks:
      - rabbitmq-net
      - postgres-net
    depends_on:
      - history-service
    restart: unless-stopped

networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  nginx-gateway:
    external: true
