version: '3.8'

services:
  payment-migrate:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: payment-migrate
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: npx prisma migrate dev
    networks:
      - postgres-net
    profiles:
      - tools

  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: payment-service
    environment:
      NODE_ENV: development
      PORT: ${PORT}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE_AUTH: ${RABBITMQ_QUEUE_AUTH}
    command: npm run start:dev
    ports:
      - "3004:3004"
    volumes:
      # Hot reload
      - ./src:/app/src
      - ./prisma:/app/prisma
      # - /app/node_modules
    networks:
      - postgres-net
      - rabbitmq-net
      - nginx-gateway
    restart: unless-stopped

  payment-worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: payment-worker
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      RABBITMQ_QUEUE: ${RABBITMQ_QUEUE}
    command: npm run start:worker
    volumes:
      - ./src:/app/src
      - ./common:/app/common
    networks:
      - rabbitmq-net
      - postgres-net
    depends_on:
      - payment-service
    restart: unless-stopped

networks:
  postgres-net:
    external: true
  rabbitmq-net:
    external: true
  nginx-gateway:
    external: true
